nav.navbar.navbar-default(role="navigation")
  .container
    .navbar-header
      button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/") Wallet

    .collapse.navbar-collapse(id="navbar-collapse")
      ul.nav.navbar-nav
        li: a(href="/") Home
        li: a(href="#") Reset
        li: a(href="https://github.com/tvararu/wallet/") View source

.container.wallet-wrapper
  .jumbotron.text-center
    h1 &apos;Allo, &apos;Allo!
    p.lead
      img(src='images/yeoman.png', alt="I'm Yeoman")
      br
      | Always a pleasure scaffolding your apps.
    p
      a.btn.btn-lg.btn-success(ng-href='#') Splendid!
  .row
    .col-sm-6.col-md-4(ng-repeat="awesomeThing in awesomeThings | orderBy:'rank'")
      .thumbnail
        img.pull-right(ng-src='images/{{awesomeThing.logo}}', alt='{{awesomeThing.title}}')
        .caption
          h3 {{awesomeThing.title}}
          p {{awesomeThing.description}}
          p
            a(ng-href='{{awesomeThing.url}}') {{awesomeThing.url}}
  hr
  .footer
    p
      | With &hearts; from 
      a(href='https://twitter.com/Swiip') @Swiip
