nav.navbar.navbar-default(role="navigation")
  .container
    .navbar-header
      button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/") Wallet

    .collapse.navbar-collapse(id="navbar-collapse")
      ul.nav.navbar-nav
        li: a(href="/") Home
        li: a(href="#") Reset
        li: a(href="https://github.com/tvararu/wallet/") View source

.container.wallet-wrapper(ng-controller="WalletCtrl")
  .row
    .col-xs-6
      .form-group
        .input-group
          .input-group-addon: .fa(ng-class="currency | icon")
          input.form-control(type="number", min="0", ng-model="deposit", placeholder="Deposit")
          .btn.input-group-addon(ng-click="deposit()"): .fa.fa-plus.text-success
    .col-xs-6
      .form-group
        .input-group
          .input-group-addon: .fa(ng-class="currency | icon")
          input.form-control(type="number", min="0", ng-model="withdraw", placeholder="Withdraw")
          .btn.input-group-addon(ng-click="withdraw()"): .fa.fa-minus.text-danger
  {{total}}

