table.table.table-bordered
  thead
    tr
      th no.
      th Amount
      th Date
  tbody
    tr(ng-repeat="item in transactions", ng-class="(item.amount >= 0) ? 'success' : 'danger'")
      td {{ item.id }}
      td
        .fa(ng-class="currency | icon")
        |  {{ item.amount | currency: currency }}
      td {{ item.date | formatDate }}