table.table.table-bordered
  thead
    tr
      th no.
      th Amount
      th Date
  tbody
    tr(ng-repeat="item in $storage.transactions | orderBy: '-date'", ng-class="(item.amount >= 0) ? 'success' : 'danger'")
      td {{ item.id }}
      td
        .fa(ng-class="$storage.currency | icon")
        |  {{ item.amount | currency: $storage.currency }}
      td {{ item.date | formatDate }}