nav.navbar.navbar-default(role="navigation")
  .container
    .navbar-header
      button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/") Wallet

    .collapse.navbar-collapse(id="navbar-collapse")
      ul.nav.navbar-nav
        li: a(href="/") Home
        li: a(href="#") Reset
        li: a(href="https://github.com/tvararu/wallet/") View source

.container.wallet-wrapper(ng-controller="WalletCtrl")
  .btn-group.btn-group-justified
    .btn.btn-default(ng-class="{ active: currency === 'eur' }", ng-click="currency = 'eur'")
      .fa.fa-fw.fa-eur
      | EUR
    .btn.btn-default(ng-class="{ active: currency === 'gbp' }", ng-click="currency = 'gbp'")
      .fa.fa-fw.fa-gbp
      | GBP
    .btn.btn-default(ng-class="{ active: currency === 'usd' }", ng-click="currency = 'usd'")
      .fa.fa-fw.fa-usd
      | USD
  h1.lead
    | Total:
    .fa(ng-class="currency | icon")
    |  {{ transactions | total | currency: currency }}
  .row
    .col-xs-6
      .form-group
        .input-group
          .input-group-addon: .fa(ng-class="currency | icon")
          input.form-control(type="number", min="0", ng-model="depositAmount", placeholder="Deposit", ng-keydown="inputKeydown($event, deposit)")
          .btn.input-group-addon(ng-click="deposit()"): .fa.fa-plus.text-success
    .col-xs-6
      .form-group
        .input-group
          .input-group-addon: .fa(ng-class="currency | icon")
          input.form-control(type="number", min="0", ng-model="withdrawAmount", placeholder="Withdraw", ng-keydown="inputKeydown($event, withdraw)")
          .btn.input-group-addon(ng-click="withdraw()"): .fa.fa-minus.text-danger

  transaction-list
