nav.navbar.navbar-default(role="navigation")
  .container
    .navbar-header
      button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/") Wallet

    .collapse.navbar-collapse(id="navbar-collapse")
      ul.nav.navbar-nav
        li: a(href="/") Home
        li: a(href="#", ng-click="$storage.$reset()") Reset
        li: a(href="https://github.com/tvararu/wallet/") View source

.container.wallet-wrapper(ng-controller="WalletCtrl")
  .btn-group.btn-group-justified
    .btn.btn-default(ng-class="{ active: $storage.currency === 'eur' }", ng-click="$storage.currency = 'eur'")
      .fa.fa-fw.fa-eur
      | EUR
    .btn.btn-default(ng-class="{ active: $storage.currency === 'gbp' }", ng-click="$storage.currency = 'gbp'")
      .fa.fa-fw.fa-gbp
      | GBP
    .btn.btn-default(ng-class="{ active: $storage.currency === 'usd' }", ng-click="$storage.currency = 'usd'")
      .fa.fa-fw.fa-usd
      | USD
  h1.lead
    | Balance:
    .fa(ng-class="$storage.currency | icon")
    |  {{ $storage.balance | currency: $storage.currency }}
  form(name="form", novalidate)
    .row
      .col-xs-6
        .form-group(ng-class="form.depositAmount.$error.float ? 'has-error' : ''")
          .input-group
            .input-group-addon: .fa(ng-class="$storage.currency | icon")
            input.form-control(type="text", smart-float, name="depositAmount", ng-model="depositAmount", placeholder="Deposit", ng-keydown="inputKeydown($event, deposit)")
            .btn.input-group-addon(ng-click="deposit()"): .fa.fa-plus.text-success
      .col-xs-6
        .form-group(ng-class="(form.withdrawAmount.$error.float || form.withdrawAmount.$error.overdraft) ? 'has-error' : ''")
          .input-group
            .input-group-addon: .fa(ng-class="$storage.currency | icon")
            input.form-control(type="text", smart-float, no-overdraft, name="withdrawAmount", ng-model="withdrawAmount", placeholder="Withdraw", ng-keydown="inputKeydown($event, withdraw)")
            .btn.input-group-addon(ng-click="withdraw()"): .fa.fa-minus.text-danger

  transaction-list
