
<nav role="navigation" class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">Wallet</a>
    </div>
    <div id="navbar-collapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="#">Reset</a></li>
        <li><a href="https://github.com/tvararu/wallet/">View source</a></li>
      </ul>
    </div>
  </div>
</nav>
<div ng-controller="WalletCtrl" class="container wallet-wrapper">
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <div ng-class="currency | icon" class="fa"></div>
          </div>
          <input type="number" min="0" ng-model="deposit" placeholder="Deposit" class="form-control"/>
          <div ng-click="deposit()" class="btn input-group-addon">
            <div class="fa fa-plus text-success"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <div ng-class="currency | icon" class="fa"></div>
          </div>
          <input type="number" min="0" ng-model="withdraw" placeholder="Withdraw" class="form-control"/>
          <div ng-click="withdraw()" class="btn input-group-addon">
            <div class="fa fa-minus text-danger"></div>
          </div>
        </div>
      </div>
    </div>
  </div>{{total}}
</div>