
<nav role="navigation" class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">Wallet</a>
    </div>
    <div id="navbar-collapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="#">Reset</a></li>
        <li><a href="https://github.com/tvararu/wallet/">View source</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container wallet-wrapper">
  <div class="jumbotron text-center">
    <h1>&apos;Allo, &apos;Allo!</h1>
    <p class="lead"><img src="images/yeoman.png" alt="I'm Yeoman"/><br/>Always a pleasure scaffolding your apps.</p>
    <p><a ng-href="#" class="btn btn-lg btn-success">Splendid!</a></p>
  </div>
  <div class="row">
    <div ng-repeat="awesomeThing in awesomeThings | orderBy:'rank'" class="col-sm-6 col-md-4">
      <div class="thumbnail"><img ng-src="images/{{awesomeThing.logo}}" alt="{{awesomeThing.title}}" class="pull-right"/>
        <div class="caption">
          <h3>{{awesomeThing.title}}</h3>
          <p>{{awesomeThing.description}}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{awesomeThing.url}}</a></p>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="footer">
    <p>With &hearts; from <a href="https://twitter.com/Swiip">@Swiip</a></p>
  </div>
</div>